<div class="bh-history-section">
    <div class="bh-history-gradient"></div>

    <div class="bh-history-society">
        <div>
            <div class="bh-history-society-title">{{'society.title' | bhTranslate }}</div>
            <div class="bh-history-society-subtitle">{{'society.subtitle' | bhTranslate }}</div>
        </div>
        <div class="bh-history-society-description">
            {{'society.description' | bhTranslate }}
        </div>

    </div>
    <img class="bh-history-vector" [src]="'./assets/images/Fondo_Seccion_Vector.png'"/>

    <img class="bh-history-line-one" [src]="'./assets/images/Linea_Seccion_02_Home.png'" />
</div>

