.bh-objectives {
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    position: relative;
    background: url('../../../../../assets/images/objectives.jpg') no-repeat;
    background-size: cover;

    &-item {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 1rem;
        z-index: 2;

        &:nth-child(odd) {
            background-color: var(--color-tertiary-glass-dark);
            color: var(--color-text-light);
        }

        &:nth-child(even) {
            background-color: var(--color-secondary-glass-dark);
            color: var(--color-primary-dark);
        }

    }

    &-title {
        font-size: 14rem;
        color: var(--color-primary);
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-width: 600px) {
        grid-template-columns: auto;

        /* &-item {
            &:nth-child(odd) {
                display: none;
            }
        } */

        &-title {
            font-size: 6rem;
            position: absolute;
            top: 0;
            text-orientation: upright;
            writing-mode: vertical-lr;
            transform: inherit;
        }
    }

    @media (min-width: 601px) and (max-width: 1024px) {
        &-title {
            font-size: 11rem;
        }
    }
}