.bh-home-main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-tertiary-glass-light);   
    
    background: url('../../../../../assets/images/Fondo_Seccion_01.png') no-repeat;
    background-size: 100vw 100vh;
    background-position: left;

    &-logo {
        position: fixed;
        z-index: 0;
        width: 25vw;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        transition: all ease-in-out 0.5s;

        @media (max-width: 750px) {
            width: 70vw;
        }

    }

    &-container {
        position: relative;
    }

    &-decorator {
        position: absolute;
        z-index: 3;
        top: 55.8vh;
        width: 16.98vw;
        height: 16.98vw;

        @media (max-width: 750px) {
            display: none;
        }

    }

    &-line {
        width: 100vw;
        position: absolute;
        z-index: 1;
        height: 100vh;

        @media (max-width: 750px) {
            display: none;
        }
    }

    &-gradient {
        height: 23.15vh;
        width: 100%;
        transform: matrix(-1, 0, 0, -1, 0, 0);
        background: transparent linear-gradient(180deg, #7E234A 0%, #57575B00 100%) 0% 0% no-repeat padding-box;
        position: absolute;
        z-index: 2;
        bottom: -2px;

        &::after {
            content: '';
        }


    }

    &-text {
        position: absolute;
        top: 25%;
        transform: translateY(-50%);
        z-index: 2;
        color: var(--color-white);
        text-shadow: var(--text-shadow);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out 0.5s;
        width: 100vw;

        & h1 {
            font: normal normal normal 4.95vw var(--font-family-primary);
            letter-spacing: 0px;
            margin: 0;
            line-height: 1;
        }

        & div {
            font: normal normal normal 1.83vw var(--font-family-secondary);
            letter-spacing: 0px;
        }


        @media (max-width: 750px) {
            top: 50%;

            & h1 {
                font: normal normal normal 12vw var(--font-family-primary);
                letter-spacing: 0px;
                margin: 0;
                line-height: 1;
            }
    
            & div {
                font: normal normal normal 6vw var(--font-family-secondary);
                letter-spacing: 0px;
            }
        }

        @media (min-width: 601px) and (max-width: 1024px) {
            &--bigger {
                font-size: 3rem;
            }

            &--small {
                top: 9rem;
                font-size: 0.7rem;
            }
        }   
    }

    @media (max-width: 750px) {
        background-size: cover;
        background-position: center;
    }
}