
<div class="bh-home-main-container">
    <div class="bh-home-main-text" [ngStyle]="{'opacity': showLogo ? 1 : 0}">
        <h1>{{'main.title' | bhTranslate}}</h1>
        <div>{{'main.subtitle' | bhTranslate}}</div>
    </div>
    <img class="bh-home-main-logo" [src]="'./assets/images/Logo_Blanco_Sombra.png'" [ngStyle]="{'opacity': !showLogo ? 1 : 0, 'display': !showLogo ? 'block': 'none'}">

    <img class="bh-home-main-decorator" [src]="'./assets/images/Cuadrado_Decoracion.png'" />
    <img class="bh-home-main-line" [src]="'./assets/images/Linea_Seccion_01_Home.png'"/>
    <div class="bh-home-main-gradient"></div>
    <div class="bh-home-main">
        
    </div>
</div>