<div class="bh-nav-bar-container">
    <img class="bh-nav-bar-logo" src="../../../assets/images/logoDesktopH.png" width="150px">

    <div class="bh-nav-bar-icon" (click)="toggleShowBar()">
        <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H24.75V2.01562H0V0ZM0 6.98438V5.01562H24.75V6.98438H0ZM0 12V9.98438H24.75V12H0Z" fill="#D9AA52"/>
        </svg>
    </div>
    <div class="bh-nav-bar-items" [class.hide]="!showNavbar">
        <div 
            class="bh-nav-bar-item" 
            [class.bh-nav-bar-item--active]="item.id === activeItem" 
            *ngFor="let item of items" (click)="handleItemSelected(item)"
        >
            {{item.label | bhTranslate }}
        </div>
    </div>
    
</div>