.bh-nav-bar {
    position: fixed;
    z-index: 6;
    padding: 1vw 9.7vw;
    transition: all ease-in-out 0.5s;
   

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100vw - 19.4vw);
    }

    &-items {
        display: flex;
        align-items: flex-start;
    }
    

    &-item {
        background: rgba(255,255,255, 0.32) 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px var(--text-shadow);
        border-radius: 17px;
        margin: 0 10px;
        color: var(--color-white);
        padding: 0.26vw 2.34vw;
        font-size: 1vw;

        &:last-child {
            padding: 0.26vw 1.41vw;
            display: flex;

            img {
                width: 2vw;
                height: 1.2vw;
                opacity: 0.3;

                &:hover, &.bh-nav-bar-item-lang--active {
                    opacity: 1;
                }            
            }



            &:hover {
                cursor: pointer;
                background: rgba(255,255,255, 0.32) 0% 0% no-repeat padding-box;

            }
        }
        

        &:hover,       
        &--active {
            cursor: pointer;
            background: #7E234A 0% 0% no-repeat padding-box;
            opacity: 1;
        }
    }

    &-icon {
        display: none;
        padding: 10px;
        text-align: right;

        &:hover {
            svg path {
                fill: var(--color-primary);
            }
        }
    }


    @media (max-width: 450px) {

        &-items {
            display: inherit;
            float: none;

            &.hide {
                width: 0;

                .bh-nav-bar-item {
                    display: none;
                }
            }

            transition: var(--transition-bezier);
        }

        &-item {
            border-radius: 0;
        }

        &-icon {
            display: block;
        }

        &-logo {
            display: none
        }
    }
}

.divider {
    height: 1.2vw;
    width: 3px;
    margin: 0 5px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;

    &::after {
        content: '';
    }
}