.bh-nav-bar {

    &-container {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 3;
        overflow: hidden;

        @media (max-width: 600px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin: 0.5rem;
            width: 100%;
        }
    }

    &-items {
        display: flex;
        align-items: flex-start;
    }
    

    &-item {
        background-color: var(--color-secondary-glass-dark);
        padding: 1rem;
        color: var(--color-primary);
        border-radius: 0 0 10px 10px;
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-bold);
        transition: 0.5s all ease-out;
        backdrop-filter: blur(24px);

        &:hover,       
        &--active {
            padding-top: 2rem;
            cursor: pointer;
            background-color: var(--color-primary);
            color: var(--color-text-light);
            box-shadow: var(--elevation-z8);
        }
    }

    &-icon {
        display: none;
        padding: 10px;
        text-align: right;

        &:hover {
            svg path {
                fill: var(--color-primary);
            }
        }
    }

    &-logo {
        display: none;
    }

    @media (max-width: 450px) {

        &-items {
            display: inherit;
            float: none;

            &.hide {
                width: 0;

                .bh-nav-bar-item {
                    display: none;
                }
            }

            transition: var(--transition-bezier);
        }

        &-item {
            border-radius: 0;
        }

        &-icon {
            display: block;
        }

        &-logo {
            display: block;
        }
    }
}