.bh-contact-main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-tertiary-glass-light);   
    
    background: url('../../../../../assets/images/contact.jpg') no-repeat;
    background-size: cover;
    opacity: 0.7;

    &-container {
        position: relative;
    }

    &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 1px 4px var(--color-text-dark);
        z-index: 2;
        font-family: var(--font-family-primary);

        &--bigger {
            font-size: 4rem;
            span {
                color: var(--color-secondary);
            }
        }

        &--small {
            font-size: 1.1rem;
            letter-spacing: 0.3rem;
            position: absolute;
            top: 8rem;
            left: 8.3rem;
            color: var(--color-primary);
            text-transform: uppercase;
            backdrop-filter: blur(35px);
        }

        &__first-letter {
            letter-spacing: -1.5rem;
            font-size: 12rem;
        }

        @media (max-width: 750px) {

            &__first-letter {
                letter-spacing: -20px;
                font-size: 7rem;
            }

            &--bigger {
                font-size: 2rem;
                display: flex;
                align-items: baseline;
            }

            &--small {
                font-size: 0.3rem;
                top: 5.5rem;
                left: 3.7rem;
            }
        }

        @media (min-width: 601px) and (max-width: 1024px) {
            &--bigger {
                font-size: 3rem;
            }

            &--small {
                top: 9rem;
                font-size: 0.7rem;
            }
        }   
    }

    @media (max-width: 750px) {
        background-position: center;
    }
}