<div class="bh-contact-main-container">
    <div class="bh-contact-main-text">
        <div class="bh-contact-main-text--small">
            {{getMainText('contact.phrase' | bhTranslate)[1]}}
        </div>
        <div class="bh-contact-main-text--bigger">
            <span class="bh-contact-main-text__first-letter">
                {{getMainText('contact.phrase' | bhTranslate)[0].charAt(0)}}
            </span>
            <span >
                {{getMainText('contact.phrase' | bhTranslate)[0].slice(1)}}
            </span>
        </div>
    </div>
    <div class="bh-contact-main">
        
    </div>
</div>