.bh-side-panel {
    background-color: var(--color-secondary);
    width: 100%;
    height: 100%;
    box-shadow: var(--elevation-z8);
    z-index: 1;


    &-secondary {
        background-color: var(--color-primary);
        width: 85%;
        height: 100%;
        box-shadow: var(--elevation-z8);
    }

    @media (max-width: 600px) {
        display: none;
    }
}