.bh-service {
    width: 100vw;
    min-height: 100vh;

    background: url('../../../../../assets/images/services/Fondo_Seccion_04_Servicios.png');
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    background-position: center;

    position: relative;
    padding-bottom: 18px;

    &-labor {
        width: 80vw;
        height: 50vh;
        margin: auto;
        padding-top: 6.5vh;
        position: relative;

        &-title {
            font-size: 3.13vw;
            font-family: var(--font-family-primary);
            color: var(--color-white);
            text-shadow: var(--text-shadow);
            padding-top: 20px;
            border-top: 4px solid var(--color-white);
        }
    
        &-item {
            position: relative;
            left: 4vw;
            font-size: 15px;
            font-family: 'Mulish-ExtraLight';
            color: var(--color-secondary);
            line-height: 1.5rem;
    
            span {
                color: var(--color-white);
            }
    
        }
    
        &-vector {
            width: 80%;
        }

        &-elements {
            display: flex;
            align-items: center;
            width: 100%;
        }

        &-content {
            width: 100%;
            display: flex;
            &__main {
                width: 60%;
            }
    
            &__side {
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    
        @media (min-width: 750px) and (max-width: 1350px) {
            &-item {
                left: 1vw;
            }

            &-content {
                padding-bottom: 10px;
    
                &__main, &__side {
                    width: 50%;
                }
            }
        }

        @media (max-width: 750px) {
            height: auto;

            &-content {
                padding-bottom: 10px;
                flex-direction: column;
    
                &__main, &__side {
                    width: 100%;
                }
    
            }
    
            &-title {
                font-size: 10vw;
                text-align: center;
                border-top: 4px solid var(--color-white);
    
            }

            &-elements {
                flex-direction: column;
                padding-bottom: 5px;

            }
    
            ul {
                width: 95%;
                padding: 0px 0px 0 0px;
                order: 0;
            }
    
            &-item {
                left: 0;
                right: 0;
            }
    
            &-vector {
                display: none;
            }
        }
    }

    &-intelectual {
        width: 80vw;
        height: 50vh;
        margin: auto;
        padding-top: 5vh;
        position: relative;
        z-index: 2;

        &-title {
            font-size: 3.13vw;
            font-family: var(--font-family-primary);
            color: var(--color-white);
            text-shadow: var(--text-shadow);
            padding-top: 20px;
            text-align: right;
        }
    
        &-item {
            position: relative;
            right: 4vw;
            font-size: 15px;
            font-family: 'Mulish-ExtraLight';
            color: var(--color-secondary);
            line-height: 1.5rem;
            text-align: right;
            clear: both;
    
            span {
                color: var(--color-white);
            }
    
            &::after {
                content: "";
                display: inline-block;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: var(--color-secondary);
                vertical-align: middle;
                margin-left: 10px;
            }
        }
    
        li {
            list-style-type: none;
            display: grid;
            align-items: baseline;
            grid-template-columns: auto 1fr;
            float: right;
        }
    
        &-vector {
            width: 80%;
        }

        &-elements {
            display: flex;
            align-items: center;
            width: 100%;
            z-index: 3;
            position: relative;
        }

        &-content {
            width: 100%;
            display: flex;
            &__main {
                width: 50%;
            }
    
            &__side {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    
        @media (min-width: 750px) and (max-width: 1350px) {
            &-item {
                right: 1vw;
            }

            &-content {
                padding-bottom: 10px;
    
                &__main, &__side {
                    width: 50%;
                }
            }

            &-vector {
                display: none;
            }
    
        }

        @media (max-width: 750px) {
            padding-top: 0vh;
            position: inherit;
            width: 95%;
            padding-bottom: 7px;
            z-index: 2;

            &-content {
                padding-bottom: 10px;
                flex-direction: column;
    
                &__main, &__side {
                    width: 100%;
                }
    
            }

            &-title {
                font-size: 7vw;
                text-align: center;
            }

            &-elements {
                flex-direction: column;
                padding-bottom: 6px;

            }
    
            ul {
                width: 95%;
                padding: 0px 20px 0 0;
                order: 0;
            }

    
            &-item {
                left: 0;
                right: 0;
                clear: both;
            }
    
            &-vector {
                display: none;
            }
        }
    }

    

    
}