.bh-values {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;


    & .bh-values-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        &:nth-child(odd) {

            :first-child {
                background-color: var(--color-primary-glass-dark);
                color: var(--color-text-light);
                height: 100%;
                display: grid;
                align-items: center;

                .bh-value-item {
                    .bh-value-item__description p {
                        color: var(--color-text-light);
                        text-align: justify;
                    }
                }

            }

            :last-child {
                background-color: var(--color-primary-glass-light);
                color: var(--color-primary-dark);
                height: 100%;
                display: grid;
                align-items: center;
            }
        }

        &:nth-child(even) {
            :last-child {
                background-color: var(--color-primary-glass-dark);
                color: var(--color-text-light);
                height: 100%;
                display: grid;
                align-items: center;
            }

            :first-child {
                background-color: var(--color-primary-glass-light);
                color: var(--color-primary-dark);
                height: 100%;
                display: grid;
                align-items: center;
            }
        }
    }


    @media (max-width: 600px) {
        grid-template-columns: auto;

        & .bh-values-item {
            display: grid;
            grid-template-columns: auto;
            align-items: center;
    
            &:nth-child(odd) {
    
                :first-child {
                    background-color: var(--color-primary-glass-dark);
                    color: var(--color-text-light);
                    height: 100%;
                    display: grid;
                    align-items: center;
                }
    
                :last-child {
                    background-color: var(--color-primary-glass-light);
                    color: var(--color-primary-dark);
                    height: 100%;
                    display: grid;
                    align-items: center;
                }
            }
    
            &:nth-child(even) {
                :first-child {
                    background-color: var(--color-primary-glass-dark);
                    color: var(--color-text-light);
                    height: 100%;
                    display: grid;
                    align-items: center;
                }
    
                :last-child {
                    background-color: var(--color-primary-glass-light);
                    color: var(--color-primary-dark);
                    height: 100%;
                    display: grid;
                    align-items: center;
                }
            }
        }
    }

}