.bh-testimonies {
    width: 100vw;
    min-height: 100vh;
    position: relative;

    background: url('../../../../../assets/images/Fondo_Seccion_03.png') no-repeat;
    background-size: cover;

    h1 {
        text-align: center;
        z-index: 3;
        position: relative;
        margin-top: -1px;
        margin-bottom: 50px;
        font-size: 5vw;
        white-space: nowrap;
        font-family: var(--font-family-primary);
        letter-spacing: 0px;
        color: var(--color-white);
        text-shadow: 0px 3px 6px var(--text-shadow);

        @media (max-width: 750px) {
            font-size: 11vw;
        }
    }

    &-container {
        width: calc(100vw - 280px);
        position: relative;
        z-index: 3;
        height: calc(100vh - 50px);
        margin: auto;

        @media (max-width: 750px) {
            width: 100vw;
        }
    }

    &-line {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        left: -0.05vw;

        @media (max-width: 750px) {
            display: none;
        }
    }

    @media (max-width: 750px) {
        min-height: 0;
        padding-top: 200px;
    }
}